* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  background: #efefef;
}
.header {
  background: #06c1ae;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
